<main>
  <div class="loading">
    <p>Choose infinite scroll or loading button</p>
    <div class="loading__btns">
      <button type="button" class="loading__btn" disabled="">&#8734;</button>
      <button type="button" class="loading__btn">Load</button>
    </div>
  </div>
  <div class="gallery">
    <!-- Карточки изображений -->
  </div>
  <button type="button" class="load-more is-not-show">
    <span class="load-more__anim is-not-show">&#10047;</span> Load more
  </button>
  <button class="btnUp hide">&#8682;</button>
</main>
